
<main>
    <header>
        <h3 class="text-center">Aqui encuentras todos los productos</h3>
    </header>
    <div class="items-product">
        <ul>
            {{#each docs}}
            <li>Titulo: {{this.title}}</li>
            <li>Precio: ${{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <hr>
            {{/each}}
        </ul>
    </div>
    <div class="text-center" style="margin-top: 20px">
        {{#if hasPrevPage}}
            <a href="/?pageNumber={{prevPage}}" class="btn btn-dark" style="margin-right: 10px">Anterior</a>
        {{/if}}
        <span class="page-number" style="margin-right: 10px">{{page}}</span>
        {{#if hasNextPage}}
            <a href="/?pageNumber={{nextPage}}" class="btn btn-dark">Siguiente</a>
        {{/if}}
    </div>
</main>

